<table align="center" style="border:1px black;">
<th><a href="https://127.0.0.1:8000/post/">Post            </a></th>
<th></th>
<th><a href="https://127.0.0.1:8000/comment/"> Commentarii </a></th>
</table>
